{% extends '::base.html.twig' %}
{% block title %}Modifier le Bloc HMTL{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    <a href="{{ path('admin_blochtml') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>

    {{ form(delete_form) }}

{% endblock %}
