{% extends '::base.html.twig' %}
{% block title %}Créer un Bloc HMTL{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a href="{{ path('admin_blochtml') }}"><button type="button" class="btn btn-primary">Retour aux blocs</button></a>

{% endblock %}
