{% extends '::base.html.twig' %}
{% block title %}Créer un media{% endblock %}

{% block body -%}

    {{ form(form) }}

       
    <a href="{{ path('admin_media') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
		
{% endblock %}
