{% extends '::base.html.twig' %}
{% block title %}Modifier la note{% endblock %}
{% block body -%}

    {{ form(edit_form) }}
	{{ form(delete_form) }}
     
    <a href="{{ path('admin_notes') }}"><button type="button" class="btn btn-primary">Retour à la liste</a>
   
{% endblock %}
