{% extends '::base.html.twig' %}
{% block title %}Créer une note{% endblock %}

{% block body -%}

    {{ form(form) }}
   
    <a href="{{ path('admin_notes') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
    
{% endblock %}
