{% extends '::base.html.twig' %}
{% block title %}Modifier le contenu HMTL{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    {{ form(delete_form) }}

    <a href="{{ path('admin_blochtml') }}"><button type="button" class="btn btn-primary">Retour aux blocs HTML</button></a>

    

{% endblock %}
