{% extends '::base.html.twig' %}
{% block title %}Liste des Blocs HMTL{% endblock %}

{% block body -%}
    <h1>Html creation</h1>

    {{ form(form) }}

    <a href="{{ path('admin_blochtml') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
    
{% endblock %}
