{% extends '::base.html.twig' %}
{% block title %}Modifier la page{% endblock %}

{% block body -%}
    

    {{ form(edit_form) }}

        <a href="{{ path('page') }}"><button type="button" class="btn btn-primary">Revenir aux pages</button></a>

{{ form(delete_form) }}

{% endblock %}
