{% extends '::base.html.twig' %}
{% block title %}page creation{% endblock %}

{% block body -%}

	<div class="pagecontent">
	    

	    {{ form(form) }}

	    <ul class="record_actions">
		    <li>
		        <a href="{{ path('page') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>
	</div>


{% endblock %}
