{% extends '::base.html.twig' %}
{% block title %}Créer une page{% endblock %}

{% block body -%}

	<div class="pagecontent">    

	    {{ form(form) }}

	    <a href="{{ path('page') }}"><button type="button" class="btn btn-primary">Retour aux pages</button></a>

	</div>


{% endblock %}
