{% extends '::base.html.twig' %}
{% block title %}blocmenu edit{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

        <a href="{{ path('admin_blocmenu') }}">
            <button type="button" class="btn btn-primary">Revenir aux blocs de menu</button>
        </a>


    {{ form(delete_form) }}

{% endblock %}
