{% extends '::base.html.twig' %}
{% block title %}blocmenu edit{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_blocmenu') }}">
            Back to the list
        </a>


    </li>

    <a href="{{ path('admin_menu_new') }}">
                                <button type="button" class="btn btn-primary">Ajoutez un menu</button>
                            </a>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
