{% extends '::base.html.twig' %}
{% block title %}blocmenu creation{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_blocmenu') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
