{% extends '::base.html.twig' %}
{% block title %}Modifier l'Article{% endblock %}

{% block body -%}
    <h1>Articles creation</h1>

    {{ form(form) }}

     
    <a href="{{ path('admin_articles') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
   
{% endblock %}
