{% extends '::base.html.twig' %}
{% block title %}menu edit{% endblock %}
{% block body -%}

    {{ form(edit_form) }}


    <a href="{{ path('admin_menu') }}">
        <button type="button" class="btn btn-primary">Revenir aux menus de votre bloc</button>
    </a>
    {{ form(delete_form) }}
</ul>
{% endblock %}
