{% extends '::base.html.twig' %}
{% block titre %}menu cretion{% endblock %}
{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_menu') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
